.admin-heading {
    text-align: center;
    margin-top: 50px;
  }

  .admin-table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
  }

  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #ccc;
  }

  button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: darkred;
  }