<div class="categories">
    <div class="one">
        <h2>
            STACK OVERFLOW 
        </h2>
        <p>Questions</p>
        <p>Help</p>
    </div>
    <div class="two">
        <h2>
            PRODUCTS
        </h2>
        <p>
            Teams
        </p>
        <p>AdvertisingCollectivesTalent</p>
        <p>Collectives</p>
        <p>Talent</p>
    </div>
    <div class="three">
        <h2>COMPANY</h2>
        <P>About</P>
        <p>Press</p>
        <p>Work Here</p>
        <p>Legal</p>
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
        <p>Contact Us</p>
        <p>Cookie Settings</p>
        <p>Cookie Policy</p>
    </div>
    <div class="four">
        <h2>STACK EXCHANGE NETWORK</h2>
            <p>Technology</p>
            <p>Culture & recreation</p>
            <p>Life & arts</p>
            <p>Science</p>
            <p>Professional</p>
            <p>Business</p>
            <p>API</p>
            <p>Data</p>
    </div>
</div>
